<form action="/reportes/create" method="POST" id="reporteForm">
  <div class="form-group">
    <label for="date">Fecha:</label>
    <input type="date" id="date" name="date">
    <div class="custom-control custom-switch">
      <input type="checkbox" name="violencia" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">¿Hubo violencia?</label>
    </div>
  </div>
  <div class="form-group">
    <span>Resumen de lo ocurrido:</span>
    <textarea name="reporte" form="reporteForm">Ingrese aquí</textarea>
  </div>
  <div class="form-group">
    <label id="latitud">
      <span>Latitud:</span>
      <input class="form-control" type="text" name="latitud" required>
    </label>
  </div>
  <div class="form-group">
    <label id="longitud">
      <span>Longitud:</span>
      <input class="form-control" type="text" name="longitud" required>
    </label>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
