body {
  font-family: "Lato";
}
.mapa {
  margin-top: 2vh;
  min-height: 100vh;
}
#map {
  height: 80vh;
}

.reportes {
  min-height: 100vh;
}
#reportes {
  margin-top: 5vh;
  height: 67vh;
  overflow-y: scroll;
}

.crear {
  height: 100vh;
}

.form-group {
  margin-bottom: 1vh;
}

textarea {
  width: 100%;
  height: 10vh;
  resize: none;
}
.footer {
  background-color: #2f0062;
  color: white;
}
.footer .blanco {
  min-height: 10vh;
  margin-bottom: 0%;
}

.linkPagina {
  color: white;
  font-size: 200%;
  margin-right: 2%;
}

.blanco {
  min-height: 20vh;
}

.academico,
.extra {
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 4%;
  padding-right: 4%;
}

#navbar {
  background-color: #2f0062 !important;
}
